[tool.poetry]
name = "aiofauna"
version = "0.1.0"
description = "An opinionated aiohttp based framework based on a FaunaDB backend."
authors = ["Oscar Bahamonde <oscar.bahamonde.dev@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/obahamonde/aiofauna"
repository = "https://github.com/obahamonde/aiofauna"
documentation = "https://aiofauna.netlify.app/"


[tool.poetry.dependencies]
python = "^3.7"
pydantic = {extras = ["dotenv","email"], version = "^1.10.7"}
aiohttp = "^3.8.4"
iso8601 = "^1.1.0"
Jinja2 = "^3.1.2"
aiohttp-sse = "^2.1.0"
aiohttp_cors = "^0.7.0"
aiohttp-devtools = "*"

[tool.poetry.dev-dependencies]
autopep8 = "*"
pytest = "*"
pylint = "*"
black = "*"
isort = "*"
pytest-aiohttp = "*"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"