div.clock{
  /*background: #fff;*/
  font-size: 1.5em;
  text-align: center;
  text-decoration-color: #222222;
}

.cm-info {
  background: #dfd;
}

.cm-error {
  background: #feb9b9;
}

.cm-warning {
  background: #FFEB3B;
}

.cm-time {
  color: #a8a7a5;
}

.cm-date {
  color: #a8a7a5;
}

@media screen and (min-width: 480px) {


}
